.App {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.submitButton {
  margin-top: 20px;
  height: 50px;
  -ms-grid-column-span: 2;
  font-size: large;
}

.labels {
  margin-top: 10px;
  font-size: medium;
}

.container {
  display: grid;
  grid-column: 2;
}

.inputTag {
  font-size: larger;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}